@model XmlSigner.Data.Models.XmlFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>XmlFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileRealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileRealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousSignedFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousSignedFile.FileContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
